/* Set the font and the background color for the page */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucia Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--body-color);
    box-sizing: border-box;
}

:root {
    --text-color: rgb(0, 92, 128);
    --tertiary: #f8f8ff;
    --body-color: rgb(199, 199, 199);
}

header {
    color: var(--text-color);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* Make links have no decoration and dont change color once you click them */
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* work on header here, move Image next to the name */
header h1 {
    font-size: 34px;
    font-weight: bold;
}

header img {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: -500px;
}

/* Make the nav items line up with the h1 and to the right */
nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 25px;
}

h2 {
    margin: 0;
    display: block;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav li {
    margin: 0px 10px;
}

/* Make the links have a :hover in order to add style to the page and visual effects */
nav ul li a {
    color: black;
    display: flex;
    background-image: linear-gradient(270deg, black 0%, black 100%);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 5px;
    transition: all 0.25s ease-in;
    padding: 10px;
    margin: 0 4px;
    font-size: 25px;
}

nav ul li a:hover {
    background-size: auto 100%;
    color: var(--tertiary);
}

/* add image to banner and make it fit */
.big-banner {
    height: 300px;
    margin: 0px;
    padding: 0px;
    font-size: 32px;
    background-image: url(./images/water.jpg);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.big-banner h2 {
    padding: 0px;
    background-color: transparent;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0px;
    color: var(--text-color);
}

.main-part {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

/* add the border between the contents of the page and their headers */
.main-part div {
    width: 75%;
    border-left: 5px solid var(--text-color);
    padding: 25px;
}

.main-part h2 {
    font-size: 60px;
    text-align: right;
    padding-right: 15px;
    width: 20%;
    text-align: right;
    line-height: 1.5;
}

/* make the paragraphs stack on top of each other instead of sidebyside */
#about p {
   flex-wrap: wrap;
   padding: 10px;
   /* justify-content: column; */
   font-weight: bold;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* add images to the respective links */
/* each span element needs to be modified in order to make the text line up with the project */
.code-ref {
    background-image: url(./images/coding.jpg);
}

.code-ref span {
    margin-left: -135px;
}

.animal {
    background-image: url(./images/animal.png);
}

.animal span {
    margin-left: -158px;
}

.dealership {
    background-image: url(./images/obzu.jpeg);
}

.dealership span {
    margin-left: -135px;
}

.website {
    background-image: url(./images/website.png);
}

.website span {
    margin-left: -120px;
}

.misc {
    background-image: url(./images/misc.jpg);
}

.misc span {
    margin-left: -108px;
}

/* make the projects line up like in the reference website */
.flex-item {
    border: 5px solid black;
    background-color: transparent;
    color: var(--text-color);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 10px;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
    width: 50%;
    justify-content: flex-start;
}

/* We need to make the first child of the projects to be bigger than the others */
.flex-item:first-child {
    min-height: 300px;
    flex-basis: 100%;
    width: 100%;
}

/* add style to the projects to change the baground to fit the width */
.flex-item:hover {
    background-size: auto 100%;
}

#projects {
    flex-wrap: wrap;
}

#contact div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Added a background to the links to make the page interactive when the user hovers over a link */
#contact div a {
    color: var(--text-color);
    display: inline-block;
    background-image: linear-gradient(270deg, black 0%, black 100%);
    font-size: 24px;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 5px;
    transition: all 0.25s ease-in;
}

#contact div a:hover {
    background-size: auto 100%;
    color: var(--text-color);
}

/* Add media to the page so when a user is looking at it in a phone it fits their screen */
@media screen and (max-width: 992px) {
    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        flex: 0 0 100%;
    }
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        width: 100%;
    }
    nav ul {
        justify-content: center;
    }
    .big-banner {
        justify-content: center;
        text-align: center;
    }
    .main-part h2 {
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        flex: 0 0 100%;
    }
    
    .main-part div {
        border-left: none;
        border-top: 5px solid var(--text-color);
    }
}

@media screen and (max-width: 768px) {
    #contact div {
        flex-direction: column;
        align-items: flex-start;
    }
}